# Mini Project - Python
Asset Management Company Dataset

### 1. Reading the Rounds2, companies.txt files.

In [1]:
#Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action = "ignore")

In [3]:
#1A ANSWER: Read Text Files with Pandas using read_csv()
# read text file into pandas DataFrame
companies = pd.read_csv("DATASET/companies.txt",sep = "\t")

In [4]:
#1A ANSWER: Read csv Files with Pandas using read_csv()
# read text file into pandas DataFrame
rounds = pd.read_csv("DATASET/rounds2.csv",encoding = 'iso-8859-1')

In [5]:
# display DataFrame
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [6]:
# display DataFrame
rounds.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

### 2. How many unique companies are present in rounds2?

In [7]:
print("The number of unique companies present in rounds2 dataset is:",len(rounds["company_permalink"].unique()))

The number of unique companies present in rounds2 dataset is: 90247

### 3. How many unique companies are present in the companies file?

In [8]:
print("The number of unique companies present in companies dataset is:",len(companies["permalink"].unique()))

The number of unique companies present in companies dataset is: 66368

### 4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.

In [9]:
#Converting column to upper class using upper func
companies["permalink"] = companies["permalink"].str.upper()
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [10]:
#Converting column to upper class using upper func
rounds["company_permalink"] = rounds["company_permalink"].str.upper()
rounds.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

### 5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [11]:
#difference between len(rounds["company_permalink"].unique() and len(companies["permalink"].unique())
#Unique records recored in A & B 
A = pd.DataFrame(rounds["company_permalink"].unique())
B = pd.DataFrame(companies["permalink"].unique())

In [12]:
len(set(rounds['company_permalink'].unique()).difference(set(companies['permalink'].unique())))

29

In [13]:
print("companies in the rounds2 file which are not present in companies.txtset are:","\n","\n"
      ,set(rounds['company_permalink'].unique()).difference(set(companies['permalink'].unique())))

companies in the rounds2 file which are not present in companies.txtset are:

 {'/ORGANIZATION/PRZEÅ\x9bWIETL-PL', '/ORGANIZATION/HUIZUCHE-COM-Æ\x83\xa0Ç§ŸÈ½¦', '/ORGANIZATION/51WOFANG-Æ\x97\xa0Å¿§Æ\x88\x91Æ\x88¿', '/ORGANIZATION/ITÂ\x80\x99S-ALL-ABOUT-ME', '/ORGANIZATION/Ã\x94ASYS-2', '/ORGANIZATION/TALENTSIGNEDÂ\x84¢', '/ORGANIZATION/WEICHE-TECH-Å\x96\x82È½¦Ç§\x91Æ\x8a\x80', '/ORGANIZATION/E-CÃ\x8aBICA', '/ORGANIZATION/ENERGYSTONE-GAMES-Ç\x81ΜÇ\x9f³Æ¸¸Æ\x88\x8f', '/ORGANIZATION/ADSLINKEDÂ\x84¢', '/ORGANIZATION/LAGOU-COM-Æ\x8b\x89Å\x8b¾Ç½\x91', '/ORGANIZATION/WEICHE-TECH-Å\x96\x82È½¦Ç§\x91Æ\x9a\x80', '/ORGANIZATION/ASIANSBOOKÂ\x84¢', '/ORGANIZATION/INVENO-È\x8b±Å¨\x81È¯º', '/ORGANIZATION/KNOWÂ\x80\x99NÂ\x80\x99ACT', '/ORGANIZATION/KÃ\x96Ã\x96K', '/ORGANIZATION/VACATION-BNBÂ\x84¢', '/ORGANIZATION/TIPCAT-INTERACTIVE-Æ²\x99È\x88ŸÄ¿¡Æ\x81¯Ç§\x91Æ\x9a\x80', '/ORGANIZATION/PRODÄ\x9bTI-CZ', '/ORGANIZATION/ZENGAME-Ç¦\x85Æ¸¸Ç§\x91Æ\x8a\x80', '/ORGANIZATION/MAGNET-TECH-Ç£\x81Ç\x9f³Ç§\x91Æ\x8a\x80', '/ORGANIZATION/MAGNET-TECH-Ç£\x81ÇŸ³Ç§\x91Æ\x9a\x80', '/ORGANIZATION/ETOOL-IOÂ\x94', '/ORGANIZATION/IPROOF---THE-FOUNDATION-FOR-THE-INTERNET-OF-THINGSÂ\x84¢', '/ORGANIZATION/WHODATÂ\x80\x99S-SPACES', '/ORGANIZATION/WHITEÂ\x80\x99S-HOLDINGS', '/ORGANIZATION/LAWPÃ\xa0DÃ\xad', '/ORGANIZATION/THÁº¿-GIÁ»\x9bI-DI-Ä\x90Á»\x99NG', '/ORGANIZATION/JIWU-Å\x90\x89Å±\x8bÇ½\x91'}

### 6. Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?

In [14]:
master_dataframe = pd.merge(rounds,companies, how = "left", left_on="company_permalink", right_on="permalink")
master_dataframe.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

### 7. Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [15]:
master_dataframe = master_dataframe.drop(["company_permalink"],axis = 1)
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

### 8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [16]:
master_dataframe.info()
q8=master_dataframe.isnull().sum(axis=0)*100/len(master_dataframe)
print(round(q8,2))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   funding_round_code       31140 non-null   object
 3   funded_at                114949 non-null  object
 4   raised_amount_usd        94959 non-null   float64
 5   permalink                114917 non-null  object
 6   name                     114916 non-null  object
 7   homepage_url             108788 non-null  object
 8   category_list            111518 non-null  object
 9   status                   114917 non-null  object
 10  country_code             106263 non-null  object
 11  state_code               103996 non-null  object
 12  region                   104774 non-null  object
 13  city                     104777 non-null  object
 14  founded_at               94407 non-null   object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.03
name                        0.03
homepage_url                5.36
category_list               2.98
status                      0.03
country_code                7.56
state_code                  9.53
region                      8.85
city                        8.85
founded_at                 17.87
dtype: float64

In [17]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [18]:
master_dataframe = master_dataframe.drop(["funded_at"],axis = 1)

In [19]:
master_dataframe = master_dataframe.drop(["funding_round_code"],axis = 1)

In [20]:
print("As we have observed the missing values of columns ['funded_at','funding_round_code'] are more than 15% which is more as compared to other column missing rate so we have decided to drop these two columns. Since 'raised_amount_usd' is useful in next questions so we have avoided dropping the column")
master_dataframe.info()

As we have observed the missing values of columns ['funded_at','funding_round_code'] are more than 15% which is more as compared to other column missing rate so we have decided to drop these two columns. Since 'raised_amount_usd' is useful in next questions so we have avoided dropping the column
<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  object
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
dtypes: float64(1), object(12)
memory usage: 12.3+ MB

### 9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories..

In [21]:
pd.pivot_table(master_dataframe,values = 'raised_amount_usd', index = 'funding_round_type', aggfunc = {np.mean,np.median})

                               mean      median
funding_round_type
angel                  9.586945e+05    400000.0
convertible_note       1.453439e+06    272000.0
debt_financing         1.704353e+07   1100000.0
equity_crowdfunding    5.383682e+05    100000.0
grant                  4.300576e+06    201684.0
non_equity_assistance  4.112031e+05     60000.0
post_ipo_debt          1.687046e+08  19950000.0
post_ipo_equity        8.218249e+07  12262852.5
private_equity         7.330859e+07  20000000.0
product_crowdfunding   1.363131e+06    183915.0
secondary_market       7.964963e+07  32600000.0
seed                   7.198180e+05    275000.0
undisclosed            1.924237e+07   1018680.0
venture                1.174895e+07   5000000.0

### 10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [22]:
master_dataframe[(master_dataframe["raised_amount_usd"]>4000000) & (master_dataframe["raised_amount_usd"]<15000000)]

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
46,/funding-round/645b4cd895450b8e0268027cd7813047,venture,6602694.0,/ORGANIZATION/1001-MENUS,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114921,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,7500000.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114922,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,14219999.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114930,/funding-round/c05aab2155e390066d51c6852ff61464,grant,5400000.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114931,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,7991547.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114936,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN

### 11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [23]:
V = master_dataframe[master_dataframe.funding_round_type=="venture"]
V

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114934,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,140500.0,/ORGANIZATION/ZYRRA,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114936,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
114937,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,2686600.0,/ORGANIZATION/ZYTOPROTEC,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
114941,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,1587301.0,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011

In [24]:
country = V.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False)

In [25]:
Top = country[:9]

In [26]:
Top

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

### 12. Create the ‘main_category’ column by extracting the main sector using the column ‘category_list’.
Hint - Use the Lambda function or string function.

In [27]:
master_dataframe.category_list

0                                                     Media
1         Application Platforms|Real Time|Social Network...
2         Application Platforms|Real Time|Social Network...
3                                         Apps|Games|Mobile
4                                               Curated Web
                                ...
114944          Advertising|Mobile|Web Development|Wireless
114945          Advertising|Mobile|Web Development|Wireless
114946                                                  NaN
114947                                                  NaN
114948                   Consumer Goods|E-Commerce|Internet
Name: category_list, Length: 114949, dtype: object

In [28]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  object
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
dtypes: float64(1), object(12)
memory usage: 12.3+ MB

In [29]:
master_dataframe.category_list = master_dataframe.category_list.astype("category")

In [30]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  category
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
dtypes: category(1), float64(1), object(11)
memory usage: 12.8+ MB

In [31]:
master_dataframe.category_list

0                                                     Media
1         Application Platforms|Real Time|Social Network...
2         Application Platforms|Real Time|Social Network...
3                                         Apps|Games|Mobile
4                                               Curated Web
                                ...
114944          Advertising|Mobile|Web Development|Wireless
114945          Advertising|Mobile|Web Development|Wireless
114946                                                  NaN
114947                                                  NaN
114948                   Consumer Goods|E-Commerce|Internet
Name: category_list, Length: 114949, dtype: category
Categories (27289, object): ['3D', '3D Printing', '3D Printing|3D Technology', '3D Printing|3D Technology|Android|Artificial ..., ..., 'mHealth', 'mHealth|Mobile', 'mHealth|Software', 'mHealth|Software|Therapeutics']

In [32]:
master_dataframe.loc[:, 'main_category'] = master_dataframe['category_list'].apply(lambda x: x.split("|")[0])
master_dataframe[['category_list','main_category']]

,category_list,main_category
0,Media,Media
1,Application Platforms|Real Time|Social Network...,Application Platforms
2,Application Platforms|Real Time|Social Network...,Application Platforms
3,Apps|Games|Mobile,Apps
4,Curated Web,Curated Web
...,...,...
114944,Advertising|Mobile|Web Development|Wireless,Advertising
114945,Advertising|Mobile|Web Development|Wireless,Advertising
114946,NaN,NaN
114947,NaN,NaN
114948,Consumer Goods|E-Commerce|Internet,Consumer Goods

In [33]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  category
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
 13  main_category            111518 non-null  object
dtypes: category(1), float64(1), object(12)
memory usage: 13.7+ MB

### 13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow-
a) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB. c) If the amount is greater than 7 Millions then recode as TypeC.

In [34]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  category
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
 13  main_category            111518 non-null  object
dtypes: category(1), float64(1), object(12)
memory usage: 13.7+ MB

In [35]:
def converter(x):
    if x < 5000000.0:
        return "TypeA"
    elif (x > 5000000.0) & (x < 7000000.0):
        return "TypeB"
    else:
        return "TypeC"

In [36]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  category
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
 13  main_category            111518 non-null  object
dtypes: category(1), float64(1), object(12)
memory usage: 13.7+ MB

In [37]:
master_dataframe["raised_amount_usd"] = master_dataframe["raised_amount_usd"].apply(converter)
master_dataframe["raised_amount_usd"] = master_dataframe["raised_amount_usd"].astype('category')

In [38]:
master_dataframe

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,TypeC,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,TypeC,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,TypeA,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,TypeA,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,TypeA,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,TypeA,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,TypeA,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,TypeC,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,TypeA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,TypeA,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,Consumer Goods

In [39]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        114949 non-null  category
 3   permalink                114917 non-null  object
 4   name                     114916 non-null  object
 5   homepage_url             108788 non-null  object
 6   category_list            111518 non-null  category
 7   status                   114917 non-null  object
 8   country_code             106263 non-null  object
 9   state_code               103996 non-null  object
 10  region                   104774 non-null  object
 11  city                     104777 non-null  object
 12  founded_at               94407 non-null   object
 13  main_category            111518 non-null  object
dtypes: category(2), object(12)
memory usage: 12.9+ MB